<!DOCTYPE html>
<html lang="en">

<head>
	<title>CSLab</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="keywords"
		content="forum, webmail, πληροφορική, πληροφορική Πανεπιστήμιου Πειραιώς, τμήμα πληροφορικής, unipi, παπει, mailing lists μαθημάτων, " />

	<link href="../static/css/styles.css" rel="stylesheet" />
	<link href="../favicon.png" rel="icon" type="image/png" />
	<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
</head>

<body>
	<!--header of the page. contains the navigation bar and the log in button.-->
	<header>
		<!--navigation bar-->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-students">
			<a class="navbar-brand" href="index.html"><img src="../static/images/icon.png" height="50" /><span
					class="mx-2" style="font-family:'Orbitron', sans-serif;">cslab</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="wiki.html">Wiki <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://mailsrv.cslab.unipi.local" target="_blank">Webmail</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://10.1.1.8/" target="_blank">Cloud</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://labtutor.cs.unipi.gr/" target="_blank">Labtutor</a>
					</li>
				</ul>
				<button class="btn btn-outline-students my-2 my-sm-0 mt-2 mt-md-0" data-toggle="modal"
					data-target="#login-modal"><svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="20"
						height="20" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0z" fill="none" />
						<path class="cpath"
							d="M21 3.01H3c-1.1 0-2 .9-2 2V9h2V4.99h18v14.03H3V15H1v4.01c0 1.1.9 1.98 2 1.98h18c1.1 0 2-.88 2-1.98v-14c0-1.11-.9-2-2-2zM11 16l4-4-4-4v3H1v2h10v3z" />
					</svg>Σύνδεση</button>
			</div>
		</nav>
		<!--end of navigation bar-->
	</header>
	<!--end of header-->

	<!--log in modal-->
	<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login Modal"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content loginmodal-container">
				<h1><svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0z" fill="none" />
						<path style="fill:#666"
							d="M21 3.01H3c-1.1 0-2 .9-2 2V9h2V4.99h18v14.03H3V15H1v4.01c0 1.1.9 1.98 2 1.98h18c1.1 0 2-.88 2-1.98v-14c0-1.11-.9-2-2-2zM11 16l4-4-4-4v3H1v2h10v3z" />
					</svg> Σύνδεση</h1><br>
				<form>
					<input type="text" name="user" placeholder="Όνομα χρήστη">
					<input type="password" name="pass" placeholder="Κωδικός">
					<input type="submit" name="login" class="login loginmodal-submit" value="Σύνδεση">
				</form>
			</div>
		</div>
	</div>
	<!--end of log in modal-->

	<main role="main">
		<!--desktop variant-->
		<div class="container-fluid px-0 course-container" style="margin-top:0.5rem;">
			<div class="course-background d-none d-md-block">
			</div>
			<div class="card course-card">
				<div class="card-header course-card-header">
					Ανάλυση Ι <small>Κατεύθυνσης, Εξάμηνο 1ο</small>
					<button class="btn btn-outline-students float-right mt-1" id="edit-btn">
						<svg xmlns="http://www.w3.org/2000/svg" class="mb-1" width="20" height="20" viewBox="0 0 24 24">
							<path class="cpath"
								d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
							<path d="M0 0h24v24H0z" fill="none" />
						</svg> <span class="d-none d-md-inline">Επεξεργασία</span></button>
				</div>
				<div class="card-body course-card-body">
					<ul class="list-group list-group-flush course-card-list">
						<li class="list-group-item">
							<h5 class="card-title">Περιγραφή</h5>
							<p class="card-text text-edits">Some quick example text to build on the card title and
								makeup the bulk of the card's
								content.xfdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
							</p>
						</li>
						<li class="list-group-item">
							<h5 class="card-title">Διδάσκοντες</h5>
							<p class="card-text">
								<div class="list-group list-group-flush edit-list">
									<div class="list-group-item list-group-item-action">
										<div class="row">
											<div class="col prof-name">
												<span>name name</span>
											</div>
										</div>
									</div>
								</div>
							</p>
						</li>
						<li class="list-group-item">
							<h5 class="card-title">Προαπαιτούμενες Γνώσεις</h5>
							<p class="card-text">
								<div class="list-group list-group-flush edit-list">
									<div class="list-group-item list-group-item-action">
										<div class="row">
											<div class="col prof-name">
												<span>name name</span>
											</div>
										</div>
									</div>
								</div>
							</p>
						</li>
						<li class="list-group-item">
							<h5 class="card-title">Ύλη</h5>
							<p class="card-text">
								<div class="list-group list-group-flush edit-list">
									<div class="list-group-item">
										<div class="row">
											<div class="col prof-name">
												<span>name name</span>
											</div>
										</div>
									</div>
								</div>
							</p>
						</li>
						<li class="list-group-item">
							<h5 class="card-title">Εξέταση</h5>
							<p class="card-text text-edits">Some quick example text to build on the card title and make
								up the bulk of the card's content.</p>
						</li>
						<li class="list-group-item">
							<h5 class="card-title">Σημειώσεις</h5>
							<p class="card-text link-group"><a href="#">Σημειώσεις</a></p>
						</li>
						<li class="list-group-item">
							<h5 class="card-title">Φροντιστήριο</h5>
							<p class="card-text link-group"><a href="#">1ο Φροντιστήριο</a></p>
						</li>
						<li class="list-group-item">
							<h5 class="card-title">Παλαιότερα Θέματα</h5>
							<p class="card-text link-group"><a href="#">Σεπτέμβριος 2019</a></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</main>

	<div class="modal fade" id="text-modal" tabindex="-1" role="dialog" aria-labelledby="Text Modal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-modal-body">
					<p></p>
				</div>
				<div class="modal-footer">
					<small class="info-cont">Posted by <span class="info"></span></small>
					<button type="button" class="btn btn-students" data-dismiss="modal">Κλείσιμο</button>
				</div>
			</div>
		</div>
	</div>
	<hr class="featurette-divider">
	<div class="widget collapsed">
		<div class="widget-btn">
			<svg class="test" xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 24 24"><path class="cpath" d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
		</div>
		<div class="widget-body">
			<div class="container-flex widget-body-content">
				<h6>Υπηρεσίες</h6>
				<hr>
				<b>Mail: <span class="status-on">On</span></b><br>
				<b>Cloud: <span class="status-off">Off</span></b>
				<h6 class="mt-4">Ομάδες Φοιτητών</h6>
				<hr>
				<a href="https://www.facebook.com/groups/cs.unipi.1/" target="_blank">1o Έτος</a>
				<a href="https://www.facebook.com/groups/cs.unipi.2/" target="_blank">2o Έτος</a>
				<a href="https://www.facebook.com/groups/cs.unipi.3/" target="_blank">3o Έτος</a>
				<a href="https://www.facebook.com/groups/cs.unipi.4/" target="_blank">4o Έτος</a>
				<h6 class="mt-4">Στατιστικά</h6>
				<hr>
				<span>Επισκέψεις: 0</span>	
				<span>Λογαριασμοί E-mail: 0</span>
				<span>Συνδεδεμένοι χρήστες: 0</span>
				<button class="btn btn-students mt-4 go-dark">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
	 				height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
						<g id="Bounding_Box">
							<rect fill="none" width="24" height="24"/>
						</g>
						<g id="Master">
							<g>
								<g>
									<path class="cpath" d="M11.1,12.08C8.77,7.57,10.6,3.6,11.63,2.01C6.27,2.2,1.98,6.59,1.98,12c0,0.14,0.02,0.28,0.02,0.42
										C2.62,12.15,3.29,12,4,12c1.66,0,3.18,0.83,4.1,2.15C9.77,14.63,11,16.17,11,18c0,1.52-0.87,2.83-2.12,3.51
										c0.98,0.32,2.03,0.5,3.11,0.5c3.5,0,6.58-1.8,8.37-4.52C18,17.72,13.38,16.52,11.1,12.08z"/>
								</g>
								<path class="cpath" d="M7,16l-0.18,0C6.4,14.84,5.3,14,4,14c-1.66,0-3,1.34-3,3s1.34,3,3,3c0.62,0,2.49,0,3,0c1.1,0,2-0.9,2-2
									C9,16.9,8.1,16,7,16z"/>
							</g>
						</g>
					</svg>
				</button>
				<button class="btn btn-students mt-4 overlay-off">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path class="cpath" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
				</button>
			</div>
		</div>
	</div>

	<footer class="container">
		<div class="row">
			<div class="col-4">
				<p>&copy; 2019 CSLab &middot; 
					<a class="service" href="#text-modal" data-toggle="modal"><span class="service-head">About Us</span>
					<span class="d-none service-text">about text</span></a>
					&middot; 
					<a class="service" href="#text-modal" data-toggle="modal"><span class="service-head">Ευχαριστίες</span>
					<span class="d-none service-text">credits text</span></a>
				</p>
			</div>
			<div class="col-4 text-center">
				<a href="https://www.facebook.com/cslab.unipi/" target="_blank" class="mr-2">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512">
						<path class="cpath"
							d="M426.8 64H85.2C73.5 64 64 73.5 64 85.2v341.6c0 11.7 9.5 21.2 21.2 21.2H256V296h-45.9v-56H256v-41.4c0-49.6 34.4-76.6 78.7-76.6 21.2 0 44 1.6 49.3 2.3v51.8h-35.3c-24.1 0-28.7 11.4-28.7 28.2V240h57.4l-7.5 56H320v152h106.8c11.7 0 21.2-9.5 21.2-21.2V85.2c0-11.7-9.5-21.2-21.2-21.2z" />
					</svg>
				</a>
			</div>
			<div class="col-4">
				<p class="text-right">
					<!--<a class="service" href="#text-modal" data-toggle="modal"><span class="service-head">Ευχαριστίες</span>
					<span class="d-none service-text">credits text</span></a>
					&middot;--> 
					<a href="#">Back to top</a>
				</p>
			</div>
		</div>
	</footer>
	<script src="../static/js/jquery-3.4.0.min.js"></script>
	<script src="../static/js/bootstrap.bundle.min.js"></script>
	<script src="../static/js/students-js.js"></script>
</body>

</html>
