<!DOCTYPE html>
<html lang="en">

<head>
	<title>CS Labs</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="keywords"
		content="forum, webmail, πληροφορική, πληροφορική Πανεπιστήμιου Πειραιώς, τμήμα πληροφορικής, unipi, παπει, mailing lists μαθημάτων, " />

	<link href="../static/css/styles.css" rel="stylesheet" />
	<link href="../favicon.png" rel="icon" type="image/png" />
	<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
</head>

<body>
	<!--header of the page. contains the navigation bar and the log in button.-->
	<header>
		<!--navigation bar-->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-students">
			<a class="navbar-brand" href="index.html"><img src="../static/images/icon.png" height="50" /><span
					class="mx-2" style="font-family:'Orbitron', sans-serif;">cslabs</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<!--<div class="container">-->
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="wiki.html">Wiki</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://mailsrv.cslab.unipi.local" target="_blank">Webmail</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://10.1.1.8/" target="_blank">Cloud</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://labtutor.cs.unipi.gr/" target="_blank">Labtutor</a>
					</li>
				</ul>
				<!--</div>-->
				<a href="register.html" class="btn btn-outline-students my-2 my-sm-0 mt-2 mt-md-0 mr-2">Εγγραφή</a>
				<button class="btn btn-outline-students my-2 my-sm-0 mt-2 mt-md-0" data-toggle="modal"
					data-target="#login-modal">
					<svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0z" fill="none" />
						<path class="cpath"
							d="M21 3.01H3c-1.1 0-2 .9-2 2V9h2V4.99h18v14.03H3V15H1v4.01c0 1.1.9 1.98 2 1.98h18c1.1 0 2-.88 2-1.98v-14c0-1.11-.9-2-2-2zM11 16l4-4-4-4v3H1v2h10v3z" />
					</svg>Σύνδεση
				</button>
			</div>
		</nav>
		<!--end of navigation bar-->
	</header>
	<!--end of header-->

	<!--log in modal-->
	<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login Modal"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content loginmodal-container">
				<h1>
					<svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0z" fill="none" />
						<path style="fill:#666"
							d="M21 3.01H3c-1.1 0-2 .9-2 2V9h2V4.99h18v14.03H3V15H1v4.01c0 1.1.9 1.98 2 1.98h18c1.1 0 2-.88 2-1.98v-14c0-1.11-.9-2-2-2zM11 16l4-4-4-4v3H1v2h10v3z" />
					</svg> Σύνδεση
				</h1><br>
				<form>
					<input type="text" name="user" placeholder="Όνομα χρήστη">
					<input type="password" name="pass" placeholder="Κωδικός">
					<a href="password-change.html"><small>Ξέχασα τον κωδικό μου</small></a>
					<input type="submit" name="login" class="login loginmodal-submit" value="Σύνδεση">
				</form>
			</div>
		</div>
	</div>
	<!--end of log in modal-->

	<main role="main">

		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="container">
					<div class="carousel-caption">
						<h1>Καλώς ορίσατε στα CS Labs!</h1>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
							gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						<p><a class="btn btn-lg btn-students" href="#more" role="button">Μάθετε περισσότερα</a></p>
					</div>
				</div>
				<div class="carousel-item active">
					<img src="../static/images/carousel1.png" alt="First slide" />
				</div>
				<div class="carousel-item">
					<img src="../static/images/carousel2.png" alt="Second slide" />
				</div>
				<div class="carousel-item">
					<img src="../static/images/carousel3.png" alt="Third slide" />
				</div>
			</div>
			<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

		<!--==============================================Anouncements==================================================================-->
		<div class="container">
			<div class="announcement-container">
				<div class="announcement announcement-main" data-toggle="modal" data-target="#text-modal">
					<div class="announcement-title">Sample Text</div>
					<div class="announcement-body announcement-body-main">Lorem Ipsum is simply dummy text of the
						printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
						since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
						specimen book. It has survived not only five centuries, but also the leap into electronic
						typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
						of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
						software like Aldus PageMaker including versions of Lorem Ipsum.</div>
					<div class="announcement-info">John Doe - 23:00 - 05/07/2019</div>
				</div>
				<div class="row mt-0 mt-lg-2">
					<div class="col-12 col-lg-4 pr-lg-1">
						<div class="announcement announcement-secondary" data-toggle="modal" data-target="#text-modal">
							<div class="announcement-title">Sample Textaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
							<div class="announcement-body announcement-body-secondary">Lorem Ipsum is simply dummy text
								of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
								dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book. It has survived not only five centuries, but
								also the leap into electronic typesetting, remaining essentially unchanged. It was
								popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
								passages, and more recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</div>
							<div class="announcement-info">John Doe - 23:00 - 05/07/201aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa9 cfffffffffffffffffffffffffffffffffffffffffffffffff</div>
						</div>
					</div>
					<div class="col-12 col-lg-4 px-lg-1">
						<div class="announcement announcement-secondary" data-toggle="modal" data-target="#text-modal">
							<div class="announcement-title">Sample Text</div>
							<div class="announcement-body announcement-body-secondary">Lorem Ipsum is simply dummy text
								of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
								dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book. It has survived not only five centuries, but
								also the leap into electronic typesetting, remaining essentially unchanged. It was
								popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
								passages, and more recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</div>
							<div class="announcement-info">John Doe - 23:00 - 05/07/2019</div>
						</div>
					</div>
					<div class="col-12 col-lg-4 pl-lg-1">
						<div class="announcement announcement-secondary" data-toggle="modal" data-target="#text-modal">
							<div class="announcement-title">Sample Text</div>
							<div class="announcement-body announcement-body-secondary">Lorem Ipsum is simply dummy text
								of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
								dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book. It has survived not only five centuries, but
								also the leap into electronic typesetting, remaining essentially unchanged. It was
								popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
								passages, and more recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</div>
							<div class="announcement-info">John Doe - 23:00 - 05/07/2019</div>
						</div>
					</div>
				</div>
				<a href="announcements.html" class="float-right mt-3">Προβολή όλων</a>
			</div>
		</div>
		<!--==============================================Services==================================================================-->
		<div class="container mt-100 mb-5" id="more">
			<h2>Υπηρεσίες και Κανονισμοί</h2>
			<hr>
			<div class="row">
				<div class="col-12 col-md-4 mt-5 mt-md-0  service" data-toggle="modal" data-target="#text-modal">
					<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0z" fill="none" />
						<path class="cpath"
							d="M21 2H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h7v2H8v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H3V4h18v12z" />
					</svg>
					<h3 class="service-head">Υπηρεσίες Εργαστηρίων</h3>
					<p class="d-none service-text">lab text</p>
				</div>
				<div class="col-12 col-md-4 mt-5 mt-md-0 service" data-toggle="modal" data-target="#text-modal">
					<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0z" fill="none" />
						<path class="cpath"
							d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z" />
					</svg>
					<h3 class="service-head">Υπηρεσίες Web</h3>
					<p class="d-none service-text">web text</p>
				</div>
				<div class="col-12 col-md-4 mt-5 mt-md-0 mb-5 service" data-toggle="modal" data-target="#text-modal">
					<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24">
						<path class="cpath"
							d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z" />
						<path d="M0 0h24v24H0z" fill="none" />
					</svg>
					<h3 class="service-head">Κανονισμοί</h3>
					<p class="d-none service-text">rules text</p>
				</div>
			</div>
		</div>

		<div class="modal fade" id="text-modal" tabindex="-1" role="dialog" aria-labelledby="Text Modal"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body text-modal-body">
						<p></p>
					</div>
					<div class="modal-footer">
						<small class="info-cont">Posted by <span class="info"></span></small>
						<button type="button" class="btn btn-students" data-dismiss="modal">Κλείσιμο</button>
					</div>
				</div>
			</div>
		</div>
	</main>
	<hr class="featurette-divider">
	
	<div class="widget collapsed">
		<div class="widget-btn">
			<svg class="test" xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 24 24"><path class="cpath" d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
		</div>
		<div class="widget-body">
			<div class="container-flex widget-body-content">
				<h6>Υπηρεσίες</h6>
				<hr>
				<b>Mail: <span class="status-on">On</span></b><br>
				<b>Cloud: <span class="status-off">Off</span></b>
				<h6 class="mt-4">Ομάδες Φοιτητών</h6>
				<hr>
				<a href="https://www.facebook.com/groups/1174861302702340/?ref=group_browse" target="_blank">1o Έτος</a>
				<a href="https://www.facebook.com/groups/465767414360900/?ref=group_browse" target="_blank">2o Έτος</a>
				<a href="https://www.facebook.com/groups/958046021239860/?ref=group_browse" target="_blank">3o Έτος</a>
				<a href="https://www.facebook.com/groups/326933368152498/?ref=group_browse" target="_blank">4o Έτος</a>
				<h6 class="mt-4">Στατιστικά</h6>
				<hr>
				<span>Επισκέψεις: 0</span>
				<button class="btn btn-students go-dark">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
	 				height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
						<g id="Bounding_Box">
							<rect fill="none" width="24" height="24"/>
						</g>
						<g id="Master">
							<g>
								<g>
									<path class="cpath" d="M11.1,12.08C8.77,7.57,10.6,3.6,11.63,2.01C6.27,2.2,1.98,6.59,1.98,12c0,0.14,0.02,0.28,0.02,0.42
										C2.62,12.15,3.29,12,4,12c1.66,0,3.18,0.83,4.1,2.15C9.77,14.63,11,16.17,11,18c0,1.52-0.87,2.83-2.12,3.51
										c0.98,0.32,2.03,0.5,3.11,0.5c3.5,0,6.58-1.8,8.37-4.52C18,17.72,13.38,16.52,11.1,12.08z"/>
								</g>
								<path class="cpath" d="M7,16l-0.18,0C6.4,14.84,5.3,14,4,14c-1.66,0-3,1.34-3,3s1.34,3,3,3c0.62,0,2.49,0,3,0c1.1,0,2-0.9,2-2
									C9,16.9,8.1,16,7,16z"/>
							</g>
						</g>
					</svg>
				</button>
			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<footer class="container">
		<div class="row">
			<div class="col-4">
				<p>&copy; 2019 CS Labs &middot; 
				<span class="service">
				<a href="#text-modal" data-toggle="modal"><span class="service-head">About Us</span></a>
				<p class="d-none service-text">about text</p>
				</span>
				</p>
			</div>
			<div class="col-4 text-center">
				<a href="https://www.facebook.com/unipi.cslabs/" target="_blank" class="mr-2">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512">
						<path class="cpath"
							d="M426.8 64H85.2C73.5 64 64 73.5 64 85.2v341.6c0 11.7 9.5 21.2 21.2 21.2H256V296h-45.9v-56H256v-41.4c0-49.6 34.4-76.6 78.7-76.6 21.2 0 44 1.6 49.3 2.3v51.8h-35.3c-24.1 0-28.7 11.4-28.7 28.2V240h57.4l-7.5 56H320v152h106.8c11.7 0 21.2-9.5 21.2-21.2V85.2c0-11.7-9.5-21.2-21.2-21.2z" />
					</svg>
				</a>
			</div>
			<div class="col-4">
				<p class="text-right"><a href="#">Back to top</a></p>
			</div>
		</div>
	</footer>

	<script src="../static/js/jquery-3.4.0.min.js"></script>
	<script src="../static/js/bootstrap.bundle.min.js"></script>
	<script src="../static/js/students-js.js"></script>
</body>

</html>